body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
   flex: 1;
}

 /* navbar */
 .navbar {
    height: 5rem;
    background-color: white;
 }

 .fa-compass {
    color: #fe424d;
    font-size: 2rem;
 }
 .nav-link{
    color:#222222 !important;
 }

 /* Footer */
 .f-info-links a {
text-decoration: underline ;
 }
 .f-info-links ,.f-info-socials,.f-info-brand{
    padding-top: 5rem;
    width: 100%;
   display: flex;
   justify-content: center;
   padding-top: 10px; 

 }
 
    
    
 
  .f-info-socials i{
    margin-right: 1rem;
     font-size: 1.2rem;
  }
 .f-info {
     text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
align-items: center;
width: 100%;

 }

 /* cards */
 .listing-card {
   border:none !important;
   margin-bottom: 2rem;
 }
 .card-img-top{
   border-radius: 1rem !important;
   width: 100% !important;
   object-fit: cover !important;
 }
 /* .card-body {
   padding: 0 !important;
 } */
 .card-text p {
    font-weight: 400 !important;
 }
 .listing-link {
   text-decoration: none;
 }

 /* Card Effect */
.card-img-overlay{
   opacity: 0;
}
.card-img-overlay:hover {
   opacity: 0.2;
   background-color: white;
}
/* New Page */
.add-btn{
   background-color:#fe424d !important;
   border: none !important;
}
.edit-btn{
   background-color:#fe424d !important;
   border: none !important;
}
.show-img {
  width: 100%;
  height: 40vh;        /* or 400px if you prefer */
  object-fit: cover;  /* VERY IMPORTANT */
  border-radius: 1rem;
}

.btns{
   display: flex;
}
.show-card{
   padding-left: 0;
   padding-right: 0;
}
.show-page-bottom-space {
    margin-bottom: 80px;   /* adjust if needed */
}

/* Show all icons by default */
.filter {
  text-align: center;
  margin-right: 3rem;
  margin-top: 2rem;
  opacity: 0.7;
}

/* Mobile view */
@media (max-width: 576px) {

  /* Show only first 3 filters */
  #filters > .filter:nth-child(n+4) {
    display: none;
  }

  /* Hide tax toggle on mobile */
   #filters > .tax-toggle {
    display: none;
  }

  /* Optional: center remaining filters nicely */
  #filters {
    justify-content: space-around;
  }
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .search-inp {
    width: 180px;
    font-size: 0.85rem;
  }

  .search-btn {
    padding: 0.35rem 0.8rem;
    font-size: 0.85rem;
  }

  .navbar-nav {
    text-align: center;
  }
}
.auth-wrapper {
  min-height: calc(100vh - 120px); /* navbar + footer height */
  display: flex;
  align-items: center;
}
